/* Get a fancy font from Google Fonts */
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  background-color: #0085C7;
  color: white; /* text color */
}

/* Change header text to imported font */
  * {
    font-family: 'Lato', sans-serif;
  }

/* Make text visible on inputs */
  .shiny-input-container {
    color: #474747;
  }